# Titanic Kaggle Competition

The Titanic is one of the most well-known stories of tragedy in which a brand new ship, one of the largest of its time, historically sank in its maiden voyage  crossing the Atlantic Ocean.

The goal of this project is to construct a model to predict the likelihood of survival based on a set of features associated with each person. I intend to try several models to verify the abilities of each algorithm and identify the pros and cons of each one.

## Background

The Titanic sank with a majority of its travelers due lack of lifeboats to satisfy the amount of passengers and crew on board. The story describes a policy of "Women and Children" first focusing on the perceived most vulnerable population. Several factors remain important including socioeconomic and staff versis passenger.

In [8]:
# Import various data
import numpy as np
import pandas as pd

titanic_set = pd.read_csv('./dataset/train.csv')

In [18]:
from sklearn import tree

X = titanic_set[['Pclass', 'Sex', 'Age']]
X.loc[X['Sex'] == 'male', 'Sex'] = 0
X.loc[X['Sex'] == 'female', 'Sex'] = 1
X.loc[X['Age'] < 18, 'Age'] = 1
X.loc[X['Sex'] >= 18, 'Age'] = 0
X.loc[np.isnan(X['Age'])] = 0

Y = titanic_set['Survived']

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

     Pclass Sex   Age
0         3   0  22.0
1         1   1  38.0
2         3   1  26.0
3         1   1  35.0
4         3   0  35.0
..      ...  ..   ...
886       2   0  27.0
887       1   1  19.0
888       0   0   0.0
889       1   0  26.0
890       3   0  32.0

[891 rows x 3 columns]

/usr/local/anaconda3/envs/titanic/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [21]:
titanic_set = pd.read_csv('./dataset/test.csv')
NEW_X = titanic_set[['Pclass', 'Sex', 'Age']]
NEW_X.loc[NEW_X['Sex'] == 'male', 'Sex'] = 0
NEW_X.loc[NEW_X['Sex'] == 'female', 'Sex'] = 1
NEW_X.loc[NEW_X['Age'] < 18, 'Age'] = 1
NEW_X.loc[NEW_X['Sex'] >= 18, 'Age'] = 0
NEW_X.loc[np.isnan(NEW_X['Age'])] = 0
print(NEW_X)

     Pclass Sex   Age
0         3   0  34.5
1         3   1  47.0
2         2   0  62.0
3         3   0  27.0
4         3   1  22.0
..      ...  ..   ...
413       0   0   0.0
414       1   1  39.0
415       3   0  38.5
416       0   0   0.0
417       0   0   0.0

[418 rows x 3 columns]

/usr/local/anaconda3/envs/titanic/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [22]:
predictions = clf.predict(NEW_X)

[0 0 1 1 1 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 1 0 0 0
 1 1 0 1 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 0 1 0 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0
 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0
 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 0 1 1 0
 0 1 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 0 0
 0 0 1 0 1 0 0 1 0 0 0]

In [27]:
print(titanic_set)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]